IDEWSSF - Conexión WS(visual2015)/IDEWSSF/Web References/wsSFCxC/CxcWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.sforce.com/schemas/class/CxcWebService" targetNamespace="http://soap.sforce.com/schemas/class/CxcWebService" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://soap.sforce.com/schemas/class/CxcWebService">
      <xsd:element name="AllowFieldTruncationHeader">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="allowFieldTruncation" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CallOptions">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="client" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DebuggingHeader">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="categories" type="tns:LogInfo" />
            <xsd:element name="debugLevel" type="tns:LogType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="LogInfo">
        <xsd:sequence>
          <xsd:element name="category" type="tns:LogCategory" />
          <xsd:element name="level" type="tns:LogCategoryLevel" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="LogCategory">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Db" />
          <xsd:enumeration value="Workflow" />
          <xsd:enumeration value="Validation" />
          <xsd:enumeration value="Callout" />
          <xsd:enumeration value="Apex_code" />
          <xsd:enumeration value="Apex_profiling" />
          <xsd:enumeration value="Visualforce" />
          <xsd:enumeration value="System" />
          <xsd:enumeration value="Wave" />
          <xsd:enumeration value="All" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="LogCategoryLevel">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="None" />
          <xsd:enumeration value="Finest" />
          <xsd:enumeration value="Finer" />
          <xsd:enumeration value="Fine" />
          <xsd:enumeration value="Debug" />
          <xsd:enumeration value="Info" />
          <xsd:enumeration value="Warn" />
          <xsd:enumeration value="Error" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="LogType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="None" />
          <xsd:enumeration value="Debugonly" />
          <xsd:enumeration value="Db" />
          <xsd:enumeration value="Profiling" />
          <xsd:enumeration value="Callout" />
          <xsd:enumeration value="Detail" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="DebuggingInfo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="debugLog" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SessionHeader">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:simpleType name="ID">
        <xsd:restriction base="xsd:string">
          <xsd:length value="18" />
          <xsd:pattern value="[a-zA-Z0-9]{18}" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="cxcParam">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Fec_Factura" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="Fec_Ult_Actividad" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="Fec_Vencimiento" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="Folio_Factura" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="Folio_Factura_Ubicacion" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="Moneda" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="Monto_Total" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="Monto_Total_Mxp" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="No_Cliente" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="Saldo" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="Saldo_Mxp" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="Tipo_Documento" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="respuestaCxc">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Mensaje" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="Numero" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="address">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:location">
            <xsd:sequence>
              <xsd:element name="city" type="xsd:string" />
              <xsd:element name="country" type="xsd:string" />
              <xsd:element name="countryCode" type="xsd:string" />
              <xsd:element name="geocodeAccuracy" type="xsd:string" />
              <xsd:element name="postalCode" type="xsd:string" />
              <xsd:element name="state" type="xsd:string" />
              <xsd:element name="stateCode" type="xsd:string" />
              <xsd:element name="street" type="xsd:string" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="location">
        <xsd:sequence>
          <xsd:element name="latitude" type="xsd:double" />
          <xsd:element name="longitude" type="xsd:double" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="insertCxc">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="vCxc" nillable="true" type="tns:cxcParam" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="insertCxcResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" nillable="true" type="tns:respuestaCxc" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="Header">
    <part name="AllowFieldTruncationHeader" element="tns:AllowFieldTruncationHeader" />
    <part name="CallOptions" element="tns:CallOptions" />
    <part name="DebuggingHeader" element="tns:DebuggingHeader" />
    <part name="DebuggingInfo" element="tns:DebuggingInfo" />
    <part name="SessionHeader" element="tns:SessionHeader" />
  </message>
  <message name="insertCxcRequest">
    <part name="parameters" element="tns:insertCxc" />
  </message>
  <message name="insertCxcResponse">
    <part name="parameters" element="tns:insertCxcResponse" />
  </message>
  <portType name="CxcWebServicePortType">
    <operation name="insertCxc">
      <input message="tns:insertCxcRequest" />
      <output message="tns:insertCxcResponse" />
    </operation>
  </portType>
  <binding name="CxcWebServiceBinding" type="tns:CxcWebServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertCxc">
      <soap:operation soapAction="" />
      <input>
        <soap:header message="tns:Header" part="SessionHeader" use="literal" />
        <soap:header message="tns:Header" part="CallOptions" use="literal" />
        <soap:header message="tns:Header" part="DebuggingHeader" use="literal" />
        <soap:header message="tns:Header" part="AllowFieldTruncationHeader" use="literal" />
        <soap:body use="literal" parts="parameters" />
      </input>
      <output>
        <soap:header message="tns:Header" part="DebuggingInfo" use="literal" />
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CxcWebServiceService">
    <documentation>
    </documentation>
    <port name="CxcWebService" binding="tns:CxcWebServiceBinding">
      <soap:address location="https://na56.salesforce.com/services/Soap/class/CxcWebService" />
    </port>
  </service>
</definitions>